.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header img {
  width: 50%;
  max-width: 500px;
}

.App-link {
  color: #61dafb;
}
